<div class="row shop-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <h1 class="d-inline">CART</h1>
        <a class="btn btn-secondary btn-continue-shopping" role="button" href="#/">Continue Shopping</a>
    </nav>
</div>
<div class="row fill d-flex">
    <div class="col-md-12 auto-scroll">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart">
                    <th scope="row">{{item.name}}</th>
                    <td>{{item.price}}</td>
                    <td>
                        <input type="number" min="1" ng-model="item.count" ng-change="calculateTotalPrice()">
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="remove(item)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" position="fixed">
    <div class="col-md-3">
        <div class="form-group">
            <fieldset disabled="">
                <input class="form-control font-weight-bold" id="disabledInput" type="text" value="Total :${{totalPrice}}">
            </fieldset>
        </div>
    </div>
    <div class="col-md-9">
            <button type="button" class="btn btn-primary btn-continue-shopping" ng-click="">Buy</button>
    </div>
</div>
